html {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(242,242,242,1) 35%, rgba(196,196,196,1) 100%);
    height: 100%;
}

body {
    font-family: Avenir, sans-serif;
}


#career-milestones {
    display: flex;
    flex-wrap: wrap;

}

.career-milestone {
    display: flex;
    align-items: center;
}

.career-milestone h3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1em;
}

.career-milestone img {
    height: 3em;
    width: auto;
    padding: 0.5em;
}

.career-milestone span {
    vertical-align: center;
}

